<h1>Get to 21!</h1>
<p>Two players switch off making a choice of how much to add. The first player to get to 21 wins!</p>

<div id="current-amount"></div>

<a id="add-one" href="/?add=1">Add one</a>
<a id="add-two" href="/?add=2">Add two</a>
<a id="add-three" href="/?add=3">Add three</a>
